{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
</head>
<body>
<form method="post">
    {% csrf_token %}
    <div class="center">
        <h1>STAMINA</h1>

    </div>

    <div class="input-group">
        <label for="id_username">"Эл. почта":</label>
        {{ form.username }}
    </div>
    <div class="input-group">
        <label for="id_username">Фио:</label>
        {{ form.bio }}
    </div>

    <div class="input-group">
        <label for="id_password1">ПОл</label>
        {{ form.gender }}
    </div>
    <div class="input-group">
        <label for="id_email">Дата рождения:</label>
        {{ form.birth_date }}
    </div>
    <div class="input-group">
        <label for="id_password1">Номер телефона</label>
        {{ form.phone_number }}
    </div>
    <div class="input-group">
        <label for="id_password2">Адрес</label>
        {{ form.address }}
    </div>
    <div class="input-group">
        <label for="id_firstname">Пароль</label>
        {{ form.password1 }}
    </div>
    <div class="input-group">
        <label for="id_lastname">Повтор пароля</label>
        {{ form.password2 }}
    </div>
    <div class='button-center'>
        <button class="login-button" type="submit">Регистрация</button>
    </div>
    <hr class='hr-line'>
    <div class="login-prompt">
        <p class="login-text">Есть аккаунт? <a class="login-link" href="{% url 'login' %}">Войти</a></p>
    </div>

</form>
</body>
</html>