body {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #efefef;
}

/* Стили для формы */
form {
    width: 400px;
    max-width: 500px; /* Ширина формы */
    margin: 0 auto; /* Центрирование по горизонтали */
    padding: 35px; /* Отступы вокруг содержимого формы */
    border-radius: 25px ; /* Закругление углов формы */
     background-color: rgba(255, 255, 255, 0.93); /* Цвет фона формы */
    box-shadow: 0px 5px 39px -22px rgba(255, 255, 255, 0.2);
}
.service-logo{
    width: 400px;
    max-width: 500px; /* Ширина формы */
    margin: 0 auto; /* Центрирование по горизонтали */
    padding: 35px 35px 35px 0; /* Отступы вокруг содержимого формы */
    border-radius: 0 25px 25px 0;
     background-color: #050409; /* Цвет фона формы */
    box-shadow: 0px 5px 39px -22px rgba(255, 255, 255, 0.2);
    border: #454545 1px solid;

}

.reg-page{
    display: flex;

}
/* Стили для текстовых полей и меток */
.input-group {
    margin-bottom: 20px; /* Отступ между группами элементов */
}

.input-group label {
    display: block; /* Размещаем метку на отдельной строке */
    color: black;
    font-size: 0.875rem;;
    margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="password"] {
     width: calc(100% - 25px); /* Ширина поля ввода (вычисляемая, минус отступы) */
    padding: 10px; /* Внутренние отступы текстовых полей */
    border-radius: 10px; /* Закругление углов текстовых полей */
    border: none;
    box-shadow: 0px 5px 10px -2px rgba(34, 60, 80, 0.2) inset;
    background-color: #efefef;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.875rem;
    color: #000000;
}

/* Стили для кнопки */
.button-center {
    text-align: center; /* Выравнивание кнопки по центру */
    margin-top: 40px;
}

button{
    border: 0;
    border-radius: 10px;
    background-color: #c73d3d;
    padding: 10px 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    font-weight: bolder;

    color: white;
}

button:hover{
    transform: scale(1.05);
}

.hr-line{
    margin: 32px 20px;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    border-top: 1px solid rgb(165, 165, 165);
}

.login-prompt{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-link:hover{
    color: coral;
}
.login-link{
    color: #c73d3d;
}

.login-text{
    margin: 0;
    color: #bababa;
}
.sharp-gradient, .sharp-gradient2 {
    position: absolute;
    top: 0;
    z-index: -100;
}
.sharp-gradient{
    left: 0;
}
.sharp-gradient2{
    right: 0;
}
.logo-image{
    display: flex;
    align-items: center;
    justify-content: center;


}

.image-container {
    width: 100%;
    height: 100%;
}

.image-repair {
    width: 100%; /* Сделать изображение шириной во всю ширину родительского div */
    height: auto; /* Поддерживать соотношение сторон */
    display: block; /* Сделать изображение блочным элементом */
}

.logotip{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
    margin-bottom: 30px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-group textarea  {
    box-shadow: 0px 5px 10px -2px rgba(34, 60, 80, 0.2) inset;
    background-color: #efefef;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #bababa;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    height: 100px;
    resize: none;
}
@media screen and (max-width: 1366px) {
    form {
        padding: 25px; /* Уменьшаем отступы формы для экранов ноутбуков */
    }
}

